//BLOG
.blog {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-top: 60px;

	&--right-sidebar {
		flex-direction: row;
		@include tablet-u {
			flex-direction: column-reverse;
		}
	}

	&--left-sidebar {
		flex-direction: row-reverse;
		@include tablet-u {
			flex-direction: column;
		}
	}

	&--right-sidebar &__sidebar {
		margin-left: 30px;
		@include tablet-u{
			margin-left: 0;
		}
	}

	&--left-sidebar &__sidebar {
		margin-right: 30px;
		@include tablet-u{
			margin-right: 0;
		}
	}

	&__inner {
		width: calc(100% - 379px);
		@include tablet-u{
			width: 100%	;
		}
	}

	&__sidebar {
		width: 349px;
		display: flex;
		flex-direction: column;
		@include tablet-u{
			width: 100%;
			align-items: center;
			margin-bottom: 30px;
		}
	}

	&__sidebar .categories,
	&__sidebar .recent-posts,
	&__sidebar .tags{
		@include tablet-u {
			display: none;
		}
	}

	&__item {
		margin-bottom: 13px;
		padding-bottom: 37px;
	}

	&__item-image {
		max-height: 415px;
		height: 100%;
		width: 100%;
		object-fit: cover;
		margin-bottom: 25px;
		position: relative;
	}

	&__item-video {
		position: relative;

		video {
			max-height: 415px;
			height: 100%;
			width: 100%;

			object-fit: cover;
		}

		&:after {
			content: '';
			background-image: url(../../icons/play.png);
			width: 80px;
			height: 80px;
			position: absolute;
			top: calc(100% / 2 - 40px);
			left: calc(100% / 2 - 40px);
			cursor: pointer;
		}
	}

	&__item-title {
		font-style: normal;
		font-size: 24px;
		line-height: 38px;
		color: $primaryColor;
		@extend %title-font;
		margin-bottom: 6px;
		cursor: pointer;
		@include tablet-u{
			font-size: 16px;
			line-height: 24px;
		}
	}

	&__item-date {
		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
		font-weight: 600;
		line-height: 28px;
		text-align: left;
		color: #707070;
		margin-bottom: 9px;
		@include tablet-u{
			font-size: 11px;
			line-height: 18px;
		}
	}

	&__item-text {
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		font-size: 16px;
		line-height: 27px;
		color: $defaultColor;
		@include tablet-u{
			font-size: 14px;
			line-height: 21px;
		}
	}

	&__item-quote {
		margin: 40px 0;
	}

	&__banner {
		margin: 22px 0 50px 0;
		height: 253px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: rgba(223, 223, 223, 0.5);
	}

	&__banner-text {
		font-family: 'Open Sans', sans-serif;
		font-size: 24px;
		font-style: italic;
		font-weight: 300;
		line-height: 38px;
		text-align: center;
		margin-bottom: 23px;
		max-width: 600px;

		&:after {
			content: '';
			display: block;
			height: 1px;
			width: 200px;
			background-color: $primaryColor;
			margin: 0 auto;
			margin-top: 23px;
		}
	}

	&__banner-link {
		@extend %title-font;
		font-style: normal;
		font-size: 16px;
		line-height: 22px;
		text-align: center;
		color: rgba(54, 56, 56, 0.9033);
	}

	&__pagination {
		display: flex;
		justify-content: center;
		margin-bottom: 66px;
	}

	&__quote {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-direction: column;
	}

	&__quote-text {
		font-family: 'Open Sans';
		font-style: italic;
		font-weight: 300;
		font-size: 24px;
		line-height: 38px;
		color: $primaryColor;
		margin-bottom: 23px;
		max-width: 644px;

		&:after {
			content: '';
			display: block;
			width: 177px;
			height: 1px;
			background-color: #6D7278;
			margin-top: 23px;
		}
	}

	&__quote-link {
		@extend %title-font;
		font-size: 16px;
		line-height: 23px;
		letter-spacing: 0px;
		text-align: left;
		color: $primaryColor;
	}

	&__item-tags {
		margin: 40px 0;
	}

	&__item-navigation {
		margin-bottom: 35px;
	}

	&__navigation {
		padding: 41px 0 41px 0;
		border-top: 1px solid #DFDFDF;
		border-bottom: 1px solid #DFDFDF;
		display: flex;
		justify-content: space-between;
		align-items: center;
		@include tablet-u{
			padding: 27px 0 27px 0;
		}
	}

	&__navigation-button {
		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
		font-weight: 600;
		line-height: 28px;
		text-align: left;
		color: #707070;
		position: relative;
		cursor: pointer;
		@include tablet-u{
			font-size: 11px;
			line-height: 16px;
		}

		&:after {
			content: '';
			display: block;
			background-image: url(../../icons/Path.svg);
			width: 12px;
			height: 23px;
			background-size: contain;
			position: absolute;
			top: calc(50% - 11px);
		}
	}

	&__navigation-button--prev {
		margin-left: 33px;
		text-align: left;

		&:after {
			left: -33px;
		}
	}

	&__navigation-button--next {
		margin-right: 33px;
		text-align: right;

		&:after {
			transform: rotate(180deg);
			right: -33px;
		}
	}

}

.categories {
	margin: 22px 0;

	&__title {
		@extend %title-font;
		font-style: normal;
		font-size: 16px;
		line-height: 23px;
		color: $primaryColor;
		margin-bottom: 12px;
	}

	&__list {
		display: flex;
		flex-direction: column;
	}

	&__item {
		font-family: 'Open Sans', sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 27px;
		color: $defaultColor;
		margin-bottom: 4px;
	}

	&__item-count {
		&:before {
			content: '(';
		}

		&:after {
			content: ')';
		}
	}
}

.tags {
	@extend %title-font;
	color: $primaryColor;
	font-weight: 700;
	font-size: 16px;
	line-height: 23px;
	margin-bottom: 50px;

	&-title {
		@extend %title-font;
		font-size: 20px;
		line-height: 31px;
		text-align: left;
		margin-bottom: 6px;
		color: $primaryColor;
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -5px;
		width: 100%;
	}

	&__item {
		font-family: 'Open Sans', sans-serif;
		font-weight: 600;
		font-size: 14px;
		line-height: 28px;
		text-align: center;
		color: #8F8D8D;
		padding: 0 16px;
		border-radius: 14px;
		border: 1px solid rgba(69, 70, 71, 0.5);
		margin: 0 5px 10px 5px;
	}
}

.recent-posts {
	margin-bottom: 50px;

	&__title {
		@extend %title-font;
		color: $primaryColor;
		font-style: normal;
		font-size: 16px;
		line-height: 23px;
		margin-bottom: 12px;
	}

	&__list {
		display: flex;
		flex-direction: column;
	}

	&__item {
		margin-bottom: 12px;
	}

	&__item-title {
		font-family: 'Open Sans', sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 27px;
		color: $defaultColor;
		cursor: pointer;
	}

	&__item-date {
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		font-size: 14px;
		line-height: 28px;
		color: #A1A1A1;
	}
}

@import "media";
